body
{
background-image: url(http://wallpapers5.com/images/wallpapers/22848468/Landscape/Nature/K2-Pakistan.jpg);
background-repeat: repeat-x;
background-x-position: center;
background-y-position: top;
background-attachment: fixed;
background-color: #cccccc;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.pageTital {
	color:white;
	font-size: 50px;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	padding-left: 19%;
	padding-top: 3%;

}

.footer {
	border: 3px outset white;
  color:white;
}

.search {
	padding-top: 10%;
	padding-right: 50%;
	padding-left: 15%;
}